body{
	background-color: #CC6699;
}
.wrapper{
	background-color: #FF9900;
	padding-left: 80px;
	padding-right: 80px;
}

ul{
	list-style: none;
	
}
ul li{
	float: left;
	background-color: #CC3300;

}

ul li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #FF9933;
    color: white;
}

li a:hover:not(.active) {
    background-color: #CC6600;
    color: white;
}

img {
    float: left;
}

p.clear {
    clear: both;
}